.header {
  min-height: 878px;
  padding: 0 40px;
  background-color: $black-blue;
  background-image: url("../img/background-header.png"), url("../img/svg-header.svg");
  background-size: 100% 878px, 670px 637px;
  background-repeat: no-repeat;
  background-position: 0 0, 1260px 120px;
  overflow: hidden;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/background-header@2x.png");
  }

  @media (max-width: $tablet-width) {
    min-height: 686px;
    padding: 0 25px;
    background-size: 1514px 686px, 528px 502px;
    background-position: -372px 0, 440px -38px;
  }

  @media (max-width: $mobile-width) {
    min-height: 647px;
    padding: 0 17px;
    background-size: 1446px 834px, 505px 480px;
    background-position: -624px 0, 151px -45px;
  }
}

.header__container {
  position: relative;
  max-width: 1415px;
  margin: 0 auto;
}

.header__container > h1 {
  z-index: 1;
  position: relative;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 80px;
  line-height: 100%;
  font-weight: 700;
  letter-spacing: 5.8px;
  color: $white;
  text-transform: uppercase;
  margin: 230px 0 0 -5px;
  cursor: default;

  @media (max-width: $tablet-width) {
    font-size: 60px;
    line-height: 115%;
    letter-spacing: 4px;
    width: 470px;
    margin: 108px 0 0 65px;
  }

  @media (max-width: $mobile-width) {
    font-size: 40px;
    letter-spacing: 2.7px;
    width: 100%;
    margin: 225px 0 0 0;
  }
}

.header__container > p {
  z-index: 1;
  position: relative;
  font-size: 22px;
  line-height: 160%;
  width: 683px;
  margin: 34px 0 57px 93px;
  color: $white;
  text-transform: lowercase;
  cursor: default;
  //   outline: 1px solid red;

  &::before {
    content: "";
    position: absolute;
    width: 66px;
    height: 2px;
    top: 17px;
    left: -93px;
    background-color: $white;
  }

  @media (max-width: $tablet-width) {
    font-size: 18px;
    width: 356px;
    margin: 30px 0 67px 113px;

    &::before {
      width: 33px;
      top: 15px;
      left: -45px;
    }
  }

  @media (max-width: $mobile-width) {
    font-size: 16px;
    width: 245px;
    margin: 29px 0 38px 48px;
  }
}

.header__link {
  position: absolute;
  bottom: -163px;
  left: -42px;
  font-size: 14px;
  background-color: transparent;
  color: transparentize($color: $white, $amount: 0.5);
  border: none;
  transform: rotate(-90deg);
  text-decoration: none;
  cursor: pointer;

  &:hover {
    color: transparentize($color: $white, $amount: 0.2);
  }

  &:active {
    color: transparentize($color: $white, $amount: 0.8);
  }

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.header__button {
  z-index: 1;
  position: relative;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.8px;
  color: $white;
  background-color: $light-blue;
  border: none;
  border-radius: 5px;
  padding: 17px 46px 19px 46px;
  margin-left: 93px;
  text-transform: uppercase;
  text-decoration: none;

  &:hover {
    background-color: transparentize($color: $light-blue, $amount: 0.4);
  }

  &:active {
    color: transparentize($color: $white, $amount: 0.4);
    background-color: transparentize($color: $light-blue, $amount: 0.6);
  }

  @media (max-width: $tablet-width) {
    margin-left: 115px;
    padding: 17px 30px 19px 30px;
  }

  @media (max-width: $mobile-width) {
    display: block;
    width: 289px;
    padding: 0;
    margin: 0;
    color: transparent;
    background-color: transparent;

    &::after {
      content: "Бесплатная консультация";
      position: absolute;
      width: 289px;
      height: 40px;
      top: 0;
      left: 0;
      color: $white;
      background-color: $light-blue;
      border-radius: 5px;
      text-align: center;
      padding-top: 15px;
    }
  }
}

.header__container img {
  position: absolute;
  top: 223px;
  right: -75px;
  width: 705px;
  height: 515px;

  @media (max-width: $tablet-width) {
    top: 92px;
    right: -230px;
    width: 465px;
    height: 340px;
  }

  @media (max-width: $mobile-width) {
    top: 75px;
    right: -23px;
    width: 301px;
    height: 220px;
  }
}
