.nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 35px;

  @media (max-width: $tablet-width) {
    margin-top: 20px;
  }

  @media (max-width: $mobile-width) {
    margin-top: 17px;
  }
}

.nav__logo {
  @media (max-width: $mobile-width) {
    display: block;
    width: 45px;
  }
}

.nav__logo svg {
  @media (max-width: $mobile-width) {
    width: 38px;
    height: 38px;
  }
}

.nav__logo p {
  color: $white;

  @media (max-width: $tablet-width) {
    margin-top: 7px;
  }

  @media (max-width: $mobile-width) {
    display: none;
  }
}

.nav__logo span {
  @media (max-width: $mobile-width) {
    display: none;
  }
}

.nav__email {
  position: relative;
  font-size: 16px;
  color: $white;
  text-decoration: none;
  padding-left: 40px;
  margin-top: -10px;
  margin-left: auto;

  &:hover {
    background-color: transparentize($color: $light-blue, $amount: 0.8);
    box-shadow: 0 0 30px 20px transparentize($color: $light-blue, $amount: 0.8);
  }

  &:active {
    color: transparentize($color: $white, $amount: 0.5);
  }

  @media (max-width: $tablet-width) {
    padding: 25px;
    margin: -7px 8px 0 auto;
  }

  @media (max-width: $mobile-width) {
    margin: -5px -3px 0 auto;
  }
}

.nav__email span {
  @media (max-width: $tablet-width) {
    display: none;
  }
}

.nav__email svg {
  fill: $light-blue;
  position: absolute;
  top: 5px;
  left: 0;

  @media (max-width: $tablet-width) {
    width: 24px;
    height: 24px;
    top: 10px;
    left: 10px;
  }
}

.nav__tel {
  position: relative;
  font-size: 16px;
  color: $white;
  text-decoration: none;
  padding-left: 45px;
  margin: -10px 0 0 76px;

  &:hover {
    background-color: transparentize($color: $light-blue, $amount: 0.8);
    box-shadow: 0 0 30px 20px transparentize($color: $light-blue, $amount: 0.8);
  }

  &:active {
    color: transparentize($color: $white, $amount: 0.5);
  }

  @media (max-width: $tablet-width) {
    padding: 25px;
    margin: -7px -15px 0 0;
  }
}

.nav__tel span {
  @media (max-width: $tablet-width) {
    display: none;
  }
}

.nav__tel svg {
  fill: $light-blue;
  position: absolute;
  top: 3px;
  left: 12px;

  @media (max-width: $tablet-width) {
    width: 24px;
    height: 24px;
    top: 10px;
  }
}

.nav__call {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 5%;
  color: $white;
  border: 1px solid $white;
  border-radius: 5px;
  padding: 10px 38px 9px 29px;
  margin: -10px 0 0 50px;
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    border-color: $light-blue;
  }

  &:active {
    color: transparentize($color: $white, $amount: 0.5);
  }

  @media (max-width: $tablet-width) {
    display: none;
  }
}
