$white: #ffffff;
$black: #000000;
$black2: #1f1f1f;
$black3: #131314;
$dark-grey: #48494d;
$grey: #c9ccd4;
$light-grey: #f4f4f4;
$light-grey2: #f6f7f9;
$bright-blue: #0ad9c6;

$tablet-width: 1023px;
$mobile-width: 767px;
